<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
    <%data.forEach(val=>{%>
        <div>
            <h3><%= val.name%></h3>
            <img src="<%= val.img%>" alt="">
            <h4><%= val.level%></h4>
            <a href="/detail/<%=val.id%>"> details</a>
        </div>
        <%})%>  
    </section>       
</body>
</html>